{{! Question Card - Appearance }}
<div class="pink-card flex-col">
	<h3 class="pp-font-display">My appearance is...</h3>

	{{editor
		enriched.appearances
		target="system.appearance"
		engine="prosemirror"
		button=true
		editable=editable
	}}

</div>

<ol class="items-list flex-col">
	{{! Header Row }}
	<li class="item flex-row items-header pp-items-list-header">
		<div class="item-name">{{localize "Name"}}</div>
		<div class="item-formula">{{localize "Roll Formula"}}</div>
		<div class="item-controls">
			<a
				class="item-control item-create"
				title="{{localize 'DOCUMENT.Create' type="Item"}}"
				data-type="item"
			>
				<i class="fas fa-plus-circle"></i>
				{{localize "Add"}}
			</a>
		</div>
	</li>

	{{! Item Rows }}
	{{#each gear as |item id|}}
		<li class="item flex-row pink-card pp-item-row" data-item-id="{{item._id}}">
			<div class="item-name flex-row">
				<div class="item-image">
					<a class="rollable pp-item-roll-trigger" data-roll-type="item">
						<img
							src="{{item.img}}"
							title="{{item.name}}"
							width="32"
							height="32"
						/>
					</a>
				</div>
				<h4 class="pp-font-display">{{item.name}}</h4>
			</div>

			<div class="item-formula item-prop">
				{{#if item.system.roll.diceNum}}
					{{item.system.roll.diceNum}}{{item.system.roll.diceSize}}
					{{#if
						item.system.roll.diceBonus
					}}+{{item.system.roll.diceBonus}}{{/if}}
				{{else}}
					—
				{{/if}}
			</div>

			<div class="item-controls flex-row">
				<a class="item-control item-edit" title="Edit Item"><i
						class="fas fa-feather-alt"
					></i></a>
				<a class="item-control item-delete" title="Delete Item"><i
						class="fas fa-times"
					></i></a>
			</div>
		</li>
	{{/each}}
</ol>