<div class="tab biography" data-group="primary" data-tab="description">
	<div class="flex-col pp-gap-md">

		{{! Question Card 1 }}
		<div class="pink-card flex-col curtains">
			<h3 class="pp-font-display">My curses, injuries, and trauma...</h3>

			{{editor
				enriched.fairygodmother
				target="system.fairyGodmother"
				engine="prosemirror"
				button=true
				editable=editable
			}}

		</div>

		{{! Question Card 2 }}
		<div class="pink-card flex-col curtains">
			<h3 class="pp-font-display">My fairy godmother is...</h3>

			{{editor
				enriched.curses
				target="system.cursesWounds"
				engine="prosemirror"
				button=true
				editable=editable
			}}

		</div>

		{{! Question Card 3 }}
		<div class="pink-card flex-col curtains">
			<h3 class="pp-font-display">At first glance, people notice my...</h3>

			{{editor
				enriched.que1
				target="system.personalityQuestion1"
				engine="prosemirror"
				button=true
				editable=editable
			}}

		</div>

		{{! Question Card 4 }}
		<div class="pink-card flex-col curtains">
			<h3 class="pp-font-display">Those close to me think I'm...</h3>

			{{editor
				enriched.que2
				target="system.personalityQuestion2"
				engine="prosemirror"
				button=true
				editable=editable
			}}

		</div>

		{{! Question Card 5 }}
		<div class="pink-card flex-col curtains">
			<h3 class="pp-font-display">Secretly, deep down I'm...</h3>

			{{editor
				enriched.que3
				target="system.personalityQuestion3"
				engine="prosemirror"
				button=true
				editable=editable
			}}

		</div>

		{{! Question Card 6 }}
		<div class="pink-card flex-col curtains">
			<h3 class="pp-font-display">What really motivates me is...</h3>

			{{editor
				enriched.que4
				target="system.personalityQuestion4"
				engine="prosemirror"
				button=true
				editable=editable
			}}

		</div>

	</div>
</div>