{{#if activeGift}}
	<div class="gift-header pink-card">
		<div class="gift-title-block">
			<h2 class="gift-title">{{activeGift.title}}</h2>
			<p class="flavor-text">{{activeGift.description}}</p>
		</div>
	</div>
	<div class="gift-details">
		<div class="grid grid-2 pink-card">
			<div>
				<h3>Talents</h3>
				<p>{{#each activeGift.talents}}{{this}}{{#unless @last}},
						{{/unless}}{{/each}}</p>

				<div class="flex-col">
					<strong>My other talents are...</strong>

					{{editor
						enriched.talents
						target="system.otherTalents"
						engine="prosemirror"
						button=true
						editable=editable
					}}

				</div>
			</div>
			<div class="gift-dice-pool">
				<h3>Gift Dice</h3>
				<div class="dice-checkboxes flexrow all-center">
					<div class="flex-col all-center">
						<input
							type="checkbox"
							name="system.giftDice.gift1"
							{{checked system.giftDice.gift1}}
						/>
						<label class="tiny-text">I</label>
					</div>
					<div class="flex-col all-center">
						<input
							type="checkbox"
							name="system.giftDice.gift2"
							{{checked system.giftDice.gift2}}
						/>
						<label class="tiny-text">II</label>
					</div>
					<div class="flex-col all-center">
						<input
							type="checkbox"
							name="system.giftDice.gift3"
							{{checked system.giftDice.gift3}}
						/>
						<label class="tiny-text">III</label>
					</div>
					<div class="flex-col all-center">
						<input
							type="checkbox"
							name="system.giftDice.gift4"
							{{checked system.giftDice.gift4}}
						/>
						<label class="tiny-text">IV</label>
					</div>
					<span class="dice-divider"></span>
					<div class="flex-col all-center">
						<input
							type="checkbox"
							name="system.giftDice.extraGift"
							{{checked system.giftDice.extraGift}}
						/>
						<label class="tiny-text">Extra</label>
					</div>
				</div>
				<div class="tiny-text gift-text">
					<p>One Gift Die (d6) per level. Choose how many you want to roll to
						use your Special Abilities.</p><p>On a 1-2-3 you can use the GD
						again. On a 4-5-6, it is spent and you don’t regain it until you
						Rest.</p><p>[SUM] means the total amount shown on your dice. [DICE]
						means the number of dice you choose to roll.</p><p>IF YOU ROLL
						DOUBLES ON GIFT DICE a mishap occurs.</p>
				</div>
			</div>
		</div>

		<div class="pink-card flex-col">
			<h3>Innate Abilities</h3>
			{{#each activeGift.innate}}
				<div class="innate-ability">
					<div class="innate-ab-title"><strong>{{{this.name}}}</strong></div>
					<div class="innate-ab-content">
						{{{this.text}}}
					</div>
				</div>
			{{/each}}
		</div>

		<div class="pink-card flex-col">
			<h3>Special Abilities</h3>
			{{#each activeGift.special}}
				<div class="special-ability">
					<div class="special-ab-title">
						<span class="ability-level">Level {{this.level}}</span>
						<strong>{{{this.name}}}</strong>
					</div>
					<div class="special-ab-content">
						{{{this.text}}}
					</div>
				</div>
			{{/each}}
		</div>

		<div class="pink-card flex-col">
			<h3>Mishaps (Doubles)</h3>
			<table class="mishaps-table">
				{{#each activeGift.mishaps}}
					<tr>
						<td class="mishap-number"></td>
						<td>{{this}}</td>
					</tr>
				{{/each}}
			</table>
		</div>
	</div>
{{else}}
	<p class="pink-card">Select a Gift in the header to reveal your Princess
		powers.</p>
{{/if}}