<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs pink-card" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="items">Purse</a>
    <a class="item" data-tab="special">Special</a>
  </nav>

  {{!-- Sheet Header --}}
  <header class="sheet-header flex-row pink-card all-center">
    <div class="picture-frame">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="150" width="150"/>
    </div>
    <div class="header-fields flex-col">
      <div class="flex-row name-level-container">
        <h1 class="charname">
          <label class="tiny-text level-text">Name</label>     
          <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
        </h1>
      </div>
      
      <div class="resources flex-row all-center lower-header-container">
        <div class="header-rollers flex-row">
          <button type="button" class="pp-roll-btn d20" data-roll="d20" title="Roll d20"></button>
          <button type="button" class="pp-roll-btn d6" data-roll="d6" title="Roll d6"></button>
          <button type="button" class="pp-roll-btn d4" data-roll="d4" title="Roll d4"></button>
        </div>
      </div>
    </div>
  </header>

  

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      <section class="grid grid-2">
        {{!-- Heart Point Section --}}
        <div class="hp-section">
          <div class="pink-card flex-col all-center">
            <h3>Heart Points</h3>
            <div class="flex-row">
              <div class="hp-current-main flex-col fairytale-container">
                <div class="fairytale-frame"><input type="number" name="system.hp.value" value="{{system.hp.value}}"/></div>
                <span class="tiny-text">HP Current</span>
              </div>
              <div class="hp-max-satellite flex-col fairytale-container">
                <div class="fairytale-frame"><input type="number" name="system.hp.max" value="{{system.hp.max}}"/></div>
                <span class="tiny-text">HP Max</span>
              </div>
            </div>
          </div>
          <div class="pink-card flex-col all-center">
            <h3>Save</h3>
            <div class="flex-row">
              <div class="fairytale-container">
                <div class="fairytale-frame">
                  <input type="text" name="system.save.value" value="{{system.save.value}}" data-dtype="Number"/>  
                </div>
              </div>
            </div>
          </div>
          <div class="pink-card flex-col">
			<h3 class="pp-font-display">Additional Notes</h3>

			{{editor
				enriched.notes
				target="system.notes"
				engine="prosemirror"
				button=true
				editable=editable
			}}

		</div>
        </div>
        {{!-- Armor, Ailment, Trauma Section --}}
        <div class="pink-card flex-col all-center">
          <div class="flex-col all-center fairytale-container">
            <h3>Armor</h3>
            <div class="fairytale-frame">
              <input type="number" name="system.armor.value" value="{{system.armor.value}}"/>
            </div>
            <span class="tiny-text">Armor reduces damage to your HP from physical sources. Subtract your Armor value from damage taken.</span>
          </div>
          <div class="flex-col ailments all-center">
            <h3>Ailments</h3>
            <div class="flex-row">
              <div class="ailment flex-col all-center">
              <input type="checkbox" name="system.ailments.weary" {{checked system.ailments.weary}}/>
              <span class="tiny-text">Weary</span>
            </div>
            <div class="ailment flex-col all-center">
              <input type="checkbox" name="system.ailments.woozy" {{checked system.ailments.woozy}}/>
              <span class="tiny-text">Woozy</span>
            </div>
            <div class="ailment flex-col all-center">
              <input type="checkbox" name="system.ailments.befuddled" {{checked system.ailments.befuddled}}/>
              <span class="tiny-text">Befuddled</span>
            </div>
            </div>
          </div>

          <div class="flex-col traumas all-center">
            <h3>Trauma</h3>
            <div class="flex-row">
              <div class="trauma flex-col all-center">
                <input type="checkbox" name="system.trauma.box1" {{checked system.trauma.box1}}/>
                <span class="tiny-text">I</span>
              </div>
              <div class="trauma flex-col all-center">
                <input type="checkbox" name="system.trauma.box2" {{checked system.trauma.box2}}/>
                <span class="tiny-text">II</span>
              </div>
              <div class="trauma flex-col all-center">
                <input type="checkbox" name="system.trauma.box3" {{checked system.trauma.box3}}/>
                <span class="tiny-text">III</span>
              </div>
            </div>
          </div>
        </div>      
      </section>
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
       {{> "systems/perilsandprincesses/templates/actor/parts/actor-items.hbs"}}
    </div>

        {{!-- Owned Items Tab --}}
    <div class="tab special" data-group="primary" data-tab="special">
       {{> "systems/perilsandprincesses/templates/actor/parts/actor-special.hbs"}}
    </div>

  </section>
</form>

