<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Navigation --}}
  <nav class="sheet-tabs pink-card" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="description">Story</a>
    <a class="item" data-tab="features">Virtues</a>
    <a class="item" data-tab="spells">Gifts</a>
    <a class="item" data-tab="items">Purse</a>
    <a class="item" data-tab="special">Special</a>
  </nav>

  {{!-- Sheet Header --}}
  <header class="sheet-header flex-row pink-card all-center">
    <div class="picture-frame">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="150" width="150"/>
    </div>
    <div class="header-fields flex-col">
      <div class="flex-row name-level-container">
        <h1 class="charname">
          <label class="tiny-text level-text">Name</label>     
          <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
        </h1>
        <div class="fairytale-container level-container flex-col">
          <label for="system.attributes.level.value" class="tiny-text level-text">Level</label>          
          <div class="fairytale-frame">
          <input type="text" name="system.attributes.level.value" value="{{system.level.value}}" data-dtype="Number"/>          
          </div>
        </div>
      </div>
      
      <div class="resources flex-row all-center lower-header-container">
        <div class="resource flex-col">
          <div class="pronoun-container">
            <label class="tiny-text level-text">Pronouns</label>     
            <input name="system.pronouns.value" type="text" value="{{system.pronouns.value}}"/>
          </div>          
        </div>
        <div class="resource flex-col">
            <select name="system.giftChoice.value">
              {{selectOptions giftOptions selected=system.giftChoice.value labelAttr="label"}}
            </select>          
        </div>
        <div class="header-rollers flex-row">
          <button type="button" class="pp-roll-btn d20" data-roll="d20" title="Roll d20"></button>
          <button type="button" class="pp-roll-btn d6" data-roll="d6" title="Roll d6"></button>
          <button type="button" class="pp-roll-btn d4" data-roll="d4" title="Roll d4"></button>
        </div>
      </div>
    </div>
  </header>  

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Virtues Tab --}}
    <div class="tab features" data-group="primary" data-tab="features">
      <section class="flexrow pink-card virtue-row">
        {{#each system.virtues as |virtue id|}}
          <div class="fairytale-container">
            <div class="fairytale-frame">
              <input type="number" name="system.virtues.{{id}}.value" value="{{virtue.value}}"/>
            </div>
            <div class="virtue-banner pp-virtue-roll" data-label="{{virtue.label}}" data-value="{{virtue.value}}">{{virtue.label}}</div>
          </div>
        {{/each}}
      </section>

      <section class="grid grid-2">
        {{!-- Heart Point Section --}}
        <div class="hp-section">
          <div class="pink-card flex-col all-center">
            <h3>Heart Points</h3>
            <div class="flex-row">
              <div class="hp-current-main flex-col fairytale-container">
                <div class="fairytale-frame"><input type="number" name="system.hp.value" value="{{system.hp.value}}"/></div>
                <span class="tiny-text">HP Current</span>
              </div>
              <div class="hp-max-satellite flex-col fairytale-container">
                <div class="fairytale-frame"><input type="number" name="system.hp.max" value="{{system.hp.max}}"/></div>
                <span class="tiny-text">HP Max</span>
              </div>
            </div>
          </div>          
          <div class="pink-card flex-col all-center">
            <div class="flex-col all-center"><h3>Heart Dice</h3><span class="tiny-text">One d4 per level. Spend in two ways: <ul><li>1. Heal HP during a Picnic</li><li>2. Subtract amount rolled from a friend's failed Virtue test</li></ul> Heart Dice replenish after a Rest.</span></div>
            <div class="flex-row all-center">
              <div class="hd flex-col all-center">
                <input type="checkbox" name="system.heartDice.heart1" {{checked system.heartDice.heart1}}/>
                <span class="tiny-text">I</span>
              </div>
              <div class="hd flex-col all-center">
                <input type="checkbox" name="system.heartDice.heart2" {{checked system.heartDice.heart2}}/>
                <span class="tiny-text">II</span>
              </div>
              <div class="hd flex-col all-center">
                <input type="checkbox" name="system.heartDice.heart3" {{checked system.heartDice.heart3}}/>
                <span class="tiny-text">III</span>
              </div>
              <div class="hd flex-col all-center">
                <input type="checkbox" name="system.heartDice.heart4" {{checked system.heartDice.heart4}}/>
                <span class="tiny-text">IV</span>
              </div>
              <div class="hd flex-col all-center">
                <input type="checkbox" name="system.heartDice.extraHeart" {{checked system.heartDice.extraHeart}}/>
                <span class="tiny-text">Extra</span>
              </div>
            </div>                   
          </div>
        </div>
        {{!-- Armor, Ailment, Trauma Section --}}
        <div class="pink-card flex-col all-center armor">
          <div class="flex-col all-center fairytale-container">
            <h3>Armor</h3>
            <div class="fairytale-frame">
              <input type="number" name="system.armor.value" value="{{system.armor.value}}"/>
            </div>
            <span class="tiny-text">Armor reduces damage to your HP from physical sources. Subtract your Armor value from damage taken.</span>
          </div>
          <div class="flex-col ailments all-center">
            <h3>Ailments</h3>
            <div class="flex-row">
              <div class="ailment flex-col all-center">
              <input type="checkbox" name="system.ailments.weary" {{checked system.ailments.weary}}/>
              <span class="tiny-text">Weary</span>
            </div>
            <div class="ailment flex-col all-center">
              <input type="checkbox" name="system.ailments.woozy" {{checked system.ailments.woozy}}/>
              <span class="tiny-text">Woozy</span>
            </div>
            <div class="ailment flex-col all-center">
              <input type="checkbox" name="system.ailments.befuddled" {{checked system.ailments.befuddled}}/>
              <span class="tiny-text">Befuddled</span>
            </div>
            </div>
          </div>

          <div class="flex-col traumas all-center">
            <h3>Trauma</h3>
            <div class="flex-row">
              <div class="trauma flex-col all-center">
                <input type="checkbox" name="system.trauma.box1" {{checked system.trauma.box1}}/>
                <span class="tiny-text">I</span>
              </div>
              <div class="trauma flex-col all-center">
                <input type="checkbox" name="system.trauma.box2" {{checked system.trauma.box2}}/>
                <span class="tiny-text">II</span>
              </div>
              <div class="trauma flex-col all-center">
                <input type="checkbox" name="system.trauma.box3" {{checked system.trauma.box3}}/>
                <span class="tiny-text">III</span>
              </div>
            </div>
          </div>
        </div>      
      </section>
    </div>

    {{!-- Story Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{> "systems/perilsandprincesses/templates/actor/parts/actor-story.hbs"}}
    </div>

    {{!-- Purse Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
        {{> "systems/perilsandprincesses/templates/actor/parts/actor-items.hbs"}}
    </div>

    {{!-- Gifts Tab --}}
    <div class="tab spells" data-group="primary" data-tab="spells">
      {{> "systems/perilsandprincesses/templates/actor/parts/actor-gifts.hbs"}}
    </div>

    {{!-- Special Tab --}}
    <div class="tab special" data-group="primary" data-tab="special">
      {{> "systems/perilsandprincesses/templates/actor/parts/actor-special.hbs"}}
    </div>

  </section>
</form>
